// colors
$white: #fff;
$blueLight: #5a98d0;
$blue: #356ead;
$blueDeep: #316099;
$blueDark: #1f3f68;
$blueShadow: rgba(16, 112, 177, 0.2);

// font
$galienWeight: 700;
$gilroyWeight: 400;
$gilroySemiWeight: 600;

// dimensions
$desktopMax: 1366px;
$tabletMax: 991px;
$mobileMax: 767px;
$desktopContent: 940px;
$tabletContent: 705px;
$mobileContent: 300px;
